<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<section class="content" th:fragment="content">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Episode Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Episode Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-body">
          <form method="get" th:action="@{/cmsmovie/episode/index}">
            <div class="row">
              <div class="col-6 col-md-6 my-3">
                <label for="episode_number" style="font-weight: bold" th:text="#{episode}"></label>
                <input type="text" id="episode_number" th:value="${episode_number}" name="episode_number"
                       class="form-control" aria-label="episode">
                <small id="episode-error" class="form-text text-danger"></small>
              </div>
              <div class="col-12 col-md-6 my-3">
                <label for="movie_name" style="font-weight: bold" th:text="#{name}"></label>
                <input type="text" id="movie_name" th:value="${movie_name}" name="movie_name"
                       class="form-control" aria-label="moviename">
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-6 my-3">
                <button type="submit" class="btn btn-primary mx-2">
                  <i class="fas fa-search"></i><span class="px-2" th:text="#{search}"></span>
                </button>
                <button id="reset" type="reset" class="btn btn-primary mx-2">
                  <i class="fa fa-refresh"></i><span class="px-2" >reset</span>
                </button>
                <a th:href="@{/cmsmovie/episode/create}" class="btn btn-primary mx-2">
                  <i class="fas fa-plus"></i><span class="px-2" >create</span>
                </a>
              </div>
              <input type="text" id="pageSizeInput" name="pageSize" th:value="${pageSize}?${pageSize}"
                     class="form-control" hidden>

            </div>
          </form>
        </div>
      </div>

      <div class="card card-default mt-4">
        <div class="card-body">
          <table class="table custom-table table-bordered">
            <thead class="thead-light">
            <tr>
              <th class="text-center" th:text="#{no}"></th>
              <th class="text-center" th:text="#{episode}"></th>
              <th class="text-center" th:text="#{movieName}"></th>
              <th class="text-center" th:text="#{video}"></th>
              <th class="text-center" th:text="#{description}"></th>
              <th class="text-center" th:text="#{duration}"></th>
              <th class="text-center" th:text="#{release_date}"></th>
              <th class="text-center" th:text="#{action}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="model, item:${models}">
              <th class="text-center" scope="row" style="font-weight: normal; color: #000000;"
                  th:text="${item.index + pageSize*currentPage - (pageSize-1)}">1
              </th>
              <td class="text-center" th:text="${model.episode_number}"></td>
              <td class="text-center" th:text="${movieNames[item.index]}"></td>
              <td class="text-center" th:text="${model.video_url}"></td>
              <td class="text-center" th:text="${model.description}"></td>
              <td class="text-center" th:text="${model.duration}"></td>
              <td class="text-center" th:text="${#dates.format(model.release_date, 'dd-MM-yyyy')}"
                  style="white-space: nowrap;"></td>
              <td class="text-center">
                <div>
                  <!-- Nút Update -->
                  <a title="Update" class="btn p-0"
                     th:href="@{'/cmsmovie/episode/update/' + ${model.id}}"
                     style="cursor: pointer;">
                    <i class="far fa-edit" style="color: #00709e;"></i>
                  </a>

                  <!-- Nút Delete hiển thị khi status = true -->
                  <button th:if="${model.status == true}"
                          th:onclick="|deleteEpisode('${model.id}', '${currentPage}', '${pageSize}')|"
                          style="cursor: pointer;" type="button" class="btn" title="Delete">
                    <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:replace="common :: table_paging2"> </div>
      </div>
    </div>
    <div class="modal fade" id="delete-modal-sm">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" th:text="#{action.todoEpisode}"></h4>
          </div>
          <div class="modal-body">
            <p th:text="#{apply.delete}"></p>
          </div>
          <div class="modal-footer justify-content-between">
            <button id="apply" type="button" class="btn btn-primary" th:text="#{apply}"></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</section >
<script th:fragment="content">
  var reset = document.querySelector('#reset');
  reset.onclick = function(e) {
      e.preventDefault();
      document.querySelector('#episode_number').value = '';
      document.querySelector('#movie_name').value = '';
  };


   function deleteEpisode(id, page, pageSize) {
      if (page == null || page == "" || page == "null")
          page = 1;
      $("#delete-modal-sm").modal('show');
      $("#apply").off('click').on('click', function () {
                  window.location.href = `/cmsmovie/episode/delete/${page}?pageSize=${pageSize}&id=${id}`;

          $('#delete-modal-sm').modal('hide');
      });
   }
function linkpage(page){
        console.log(page);
        var urlPage = window.location.href;
        var utlBase = '';
        var urlParram = '';
        let start = 0;
        for(let i = 0; i < urlPage.length-1; i++){
            if(urlPage.charAt(i) =='?'){
                start = i;
                break;
            }
        }
        if(start > 0){
            utlBase = urlPage.substring(0,start);
            urlParram = urlPage.substring(start,urlPage.length);
        }else {
            utlBase = urlPage;
        }
        console.log(page);
        start = 0;
        for(let i = urlPage.length-1; i > 0; i--){
            if(urlPage.charAt(i) =='/'){
                start = i;
                break;
            }
        }
        if(isNaN(utlBase.substring(start+1,utlBase.length))){
            utlBase += '/'+ page;
        }
        else{
            utlBase = utlBase.substring(0, start + 1)+ page;
        }
        var pageSize = document.getElementById('pageSizeInput').value;
        var urlSearchParams = new URLSearchParams(urlPage);
        // Thay đổi giá trị của tham số pageSize
        urlSearchParams.set('episode_number', episode);
        urlSearchParams.set('movie_name', `[[${movie_name}]]`);
        urlSearchParams.set('banner_image', `[[${banner_image}]]`);
        urlSearchParams.set('video_url', `[[${video_url}]]`);
        urlSearchParams.set('description', `[[${description}]]`);
        urlSearchParams.set('duration', `[[${duration}]]`);
        urlSearchParams.set('release_date', `[[${release_date}]]`);
        var dem = 0;
        urlParram = '';
        urlSearchParams.forEach(function(value, key) {
            if(dem==1){
                urlParram += '?'+key+'='+value;
            }
            else if(dem>1){
                urlParram += '&'+key+'='+value;
            }
            dem++;
        });
        console.log(urlParram);
        var newUrl = utlBase + urlParram;
        window.location.href = newUrl;
    }


document.querySelector('form').onsubmit = function (e) {
    const episodeInput = document.querySelector('#episode_number');
    const errorMessage = document.querySelector('#episode-error');
    const episodeValue = episodeInput.value;
    if (episodeValue !== '' && (isNaN(episodeValue) || !Number.isInteger(parseFloat(episodeValue)))) {
        e.preventDefault();
        errorMessage.textContent = 'Episode phải là số nguyên!';
        errorMessage.style.color = 'red';
        episodeInput.focus();
        return false;
    }
    errorMessage.textContent = '';
};
</script>

</body>



</html>



