<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<section class="content" th:fragment="content">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Movie Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Movie Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-body">
          <form method="get" th:action="@{/cmsmovie/movie/index}">
            <div class="row">
              <div class="col-12 col-md-6 my-3">
                <label for="movie_name" style="font-weight: bold" th:text="#{name}"></label>
                <input type="text" id="movie_name" th:value="${movie_name}?${movie_name}" name="movie_name"
                       class="form-control"
                       aria-label="Movie name" maxlength="45">
              </div>

              <div class="col-12 col-md-6 my-3">
                <label for="type" style="font-weight: bold"><span>[[#{movietype}]]</span></label>
                <select id="type" name="type" class="form-control">
                  <option value="" th:text="#{all}"></option>
                  <option value="0" th:selected="${type == 0}" th:text="#{movie}"></option>
                  <option value="1" th:selected="${type == 1}" th:text="#{series}"></option>
                </select>
              </div>
              <div class="col-12 col-md-3 mb-3">
                <label for="is_hot" style="font-weight: bold;"><span>[[#{is_hot}]]</span></label>
                <select class="form-control" id="is_hot" name="is_hot" th:placeholder="#{all}">
                  <option value="" th:text="#{all}" th:selected="${is_hot == null}">All</option>
                  <option value="1" th:text="#{is.Hot}" th:selected="${is_hot == 1}">Is Hot</option>
                  <option value="0" th:text="#{not.Is.Hot}" th:selected="${is_hot == 0}">Not Hot</option>
                </select>
              </div>
              <input type="text" id="pageSizeInput" name="pageSize" th:value="${pageSize}?${pageSize}"
                     class="form-control" hidden>
              <div class="col-6 pt-4">
                <button type="submit" class="btn btn-primary mx-2">
                  <i class="fas fa-search"></i><span class="px-2" th:text="#{search}"></span>
                </button>
                <button id="reset" type="reset" class="btn btn-primary mx-2">
                  <i class="fa fa-refresh"></i><span class="px-2" >reset</span>
                </button>
                <a th:href="@{/cmsmovie/movie/create}" class="btn btn-primary mx-2">
                  <i class="fas fa-plus"></i><span class="px-2" >create</span>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card card-default mt-4">
        <div class="card-body">
          <table class="table custom-table table-bordered">
            <thead class="thead-light">
            <tr>
              <th class="text-center" th:text="#{no}"></th>
              <th class="text-center" th:text="#{video}"></th>
              <th class="text-center" th:text="#{name}"></th>
              <th class="text-center" th:text="#{movie_genre}"></th>
              <th class="text-center" th:text="#{rlsDate}"></th>
              <th class="text-center"  th:text="#{is_hot}"></th>
              <th class="text-center" th:text="#{duration}"></th>
              <th class="text-center" th:text="#{movietype}"></th>
              <th class="text-center" th:text="#{censorship}"></th>
              <th class="text-center" th:text="#{language}"></th>
              <th class="text-center" th:text="#{action}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="model, item:${models}">
              <th class="text-center" scope="row" style="font-weight: normal; color: #000000;"
                  th:text="${item.index + pageSize*currentPage - (pageSize-1)}">1
              </th>
              <td th:text="${model.video_url}"></td>
              <td class="text-center" th:text="${model.movie_name}"></td>
              <td class="text-center" th:text="${model.movie_genre}"></td>
              <td class="text-center" th:text="${model.release_date}"></td>
              <td class="text-center">
                <span th:if="${model.is_hot == 0}" th:title="#{not.Is.Hot}"><i class="fas fa-fire" style="color: gray;"></i></span>
                <span th:if="${model.is_hot == 1}" th:title="#{is.Hot}"><i class="fas fa-fire" style="color: #ff0000;"></i></span>
              </td>
              <td th:text="${model.duration}"></td>
              <td class="text-center">
                <span th:if="${model.type == false}" th:text="'movie'"></span>
                <span th:if="${model.type == true}" th:text="'series'"></span>
              </td>
              <td class="text-center" th:text="${model.censorship}"></td>
              <td class="text-center"  th:text="${model.language}"></td>

              <td class="text-center">
                <div>
                  <!-- Nút Update -->
                  <a title="Update" class="btn p-0"
                     th:href="@{'/cmsmovie/movie/update/' + ${model.id}}"
                     style="cursor: pointer;">
                    <i class="far fa-edit" style="color: #00709e;"></i>
                  </a>

                  <!-- Nút Delete hiển thị khi status = true -->
                  <button th:if="${model.status == true}"
                          th:onclick="|deleteMovie('${model.id}', '${currentPage}', '${pageSize}')|"
                          style="cursor: pointer;" type="button" class="btn" title="Delete">
                    <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:replace="common :: table_paging2"> </div>
      </div>
    </div>
    <div class="modal fade" id="delete-modal-sm">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" th:text="#{action.todo}"></h4>
          </div>
          <div class="modal-body">
            <p th:text="#{apply.delete}"></p>
          </div>
          <div class="modal-footer justify-content-between">
            <button id="apply" type="button" class="btn btn-primary" th:text="#{apply}"></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</section >
<script th:fragment="content">
  console.log("Hello");
  var reset = document.querySelector('#reset');
  reset.onclick = function(e) {
      e.preventDefault();
      document.querySelector('#movie_name').value = '';
      document.querySelector('#type').value = '';
      document.querySelector('#is_hot').value = '';
  };


   function deleteMovie(id, page, pageSize) {
      if (page == null || page == "" || page == "null")
          page = 1;
      $("#delete-modal-sm").modal('show');
      $("#apply").off('click').on('click', function () {
                  window.location.href = `/cmsmovie/movie/delete/${page}?pageSize=${pageSize}&id=${id}`;

          $('#delete-modal-sm').modal('hide');
      });
   }
function linkpage(page){
        console.log(page);
        var urlPage = window.location.href;
        var utlBase = '';
        var urlParram = '';
        let start = 0;
        for(let i = 0; i < urlPage.length-1; i++){
            if(urlPage.charAt(i) =='?'){
                start = i;
                break;
            }
        }
        if(start > 0){
            utlBase = urlPage.substring(0,start);
            urlParram = urlPage.substring(start,urlPage.length);
        }else {
            utlBase = urlPage;
        }
        console.log(page);
        start = 0;
        for(let i = urlPage.length-1; i > 0; i--){
            if(urlPage.charAt(i) =='/'){
                start = i;
                break;
            }
        }
        if(isNaN(utlBase.substring(start+1,utlBase.length))){
            utlBase += '/'+ page;
        }
        else{
            utlBase = utlBase.substring(0, start + 1)+ page;
        }
        var pageSize = document.getElementById('pageSizeInput').value;
        var urlSearchParams = new URLSearchParams(urlPage);
        // Thay đổi giá trị của tham số pageSize
        urlSearchParams.set('pageSize', pageSize);
        urlSearchParams.set('video', `[[${video}]]`);
        urlSearchParams.set('rlsDate', `[[${rlsDate}]]`);
        urlSearchParams.set('movietype', `[[${movietype}]]`);
        urlSearchParams.set('censorship', `[[${censorship}]]`);
        urlSearchParams.set('language', `[[${language}]]`);
        var dem = 0;
        urlParram = '';
        urlSearchParams.forEach(function(value, key) {
            if(dem==1){
                urlParram += '?'+key+'='+value;
            }
            else if(dem>1){
                urlParram += '&'+key+'='+value;
            }
            dem++;
        });
        console.log(urlParram);
        var newUrl = utlBase + urlParram;
        window.location.href = newUrl;
    }



</script>

</body>



</html>



